.register-page {
    height: 100vh;
}

.register-box {
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 95%;
    max-width: 300px;
}

#animated-box {
    transform: translateX(0);
    transition: 0.4s;
}

.switchable-box {
    min-width: 100%;
}