.primary-button {
    background-color: var(--call-to-action);
    border-radius: 8px;
    cursor: pointer;
}

.primary-button p{
    color: var(--call-to-act-text);
}

.max-width {
    max-width: 80px;
}