.primary-button {
    background-color: var(--call-to-action);
    border-radius: 75px;
    cursor: pointer;
    border: none;
}

.primary-button p{
    color: var(--call-to-act-text);
}

.max-width {
    max-width: 100px;
}