@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,500&family=Roboto+Condensed:wght@700&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
::placeholder {
    color: var(--paragraph-color);
    opacity: 0.5;
}

.light-theme {

    /* static color  */
    --main-color: #449ECA;
    --dark-color: #434343;
    --dark-light: #616161;

    --background: #ECECEC;
    --background2: #d7d7d7;
    --primary-color: #ffffff;
    --secondary-color: #e3e3e3;

    --call-to-action: #449ECA;
    --call-to-act-text: #ffffff;
    --heading-color: #434343;
    --paragraph-color: #545454;
    --paragraph2-color: #afafaf;
}

.dark-theme {
    
    --main-color: #449ECA;
    --dark-color: #434343;
    --dark-light: #616161;

    --background: #06141D;
    --background2: #28343E;
    --primary-color: #1B2730;
    --secondary-color: #636365;

    --call-to-action: #ffffff;
    --call-to-act-text: #449ECA;
    --heading-color: #f7f7f7;
    --paragraph-color: #e3e3e3;
    --paragraph2-color: #8f8f8f;
}

.background {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.page {
    padding-top: 77px;
}
.border-1 {
    border: 1px solid red !important;
}
.overflow-hide {
    overflow: hidden;
}

/* Text Color */
.text-danger {
    color: #f14d4d;
}

.text-heading {
    color: var(--heading-color);
}
.text-paragraph {
    color: var(--paragraph-color);
}
.text-paragraph2 {
    color: var(--paragraph2-color);
}
.text-main {
    color: var(--main-color);
}
.text-dark {
    color: var(--dark-color);
}
.text-dark-light {
    color: var(--dark-light);
}
/* Text Alignment & Weight */
.text-center {
    text-align: center;
}
.link {
    text-decoration: none;
}
.bold {
    font-weight: bold;
}

/* ================================== */
/* display */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-fill {
    flex: 1;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: start;
}
.align-end {
    align-items: end;
}
/* =================================== */
/* Text  */
.superHeader {
    font-size: 35px;
}
.superHeader2 {
    font-size: 24px;
}
.header {
    font-size: 18px;
}
.paragraph {
    font-size: 14px;
}
.paragraph-sm {
    font-size: 12px;
}

/* ======================================= */
/* Space  */
.mx-1 {
    margin-left: 8px;
    margin-right: 8px;
}
.mx-2 {
    margin-left: 12px;
    margin-right: 12px;
}
.mx-3 {
    margin-left: 16px;
    margin-right: 16px;
}
.my-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.my-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.my-3 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.m-1 {
    margin: 8px;
}
.m-2 {
    margin: 12px;
}
.m-3 {
    margin: 16px;
}
.mt-1 {
    margin-top: 8px;
}
.mt-2 {
    margin-top: 12px;
}
.mt-3 {
    margin-top: 16px;
}
.ml-1 {
    margin-left: 8px;
}
.ml-2 {
    margin-left: 12px;
}
.ml-3 {
    margin-left: 16px;
}
.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 12px;
}
.mb-3 {
    margin-bottom: 16px;
}
.mr-1 {
    margin-right: 8px;
}
.mr-2 {
    margin-right: 12px;
}
.mr-3 {
    margin-right: 16px;
}

.mt-auto {
    margin-top: auto;
}
.mr-auto {
    margin-right: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.ml-auto {
    margin-left: auto;
}


.p-1 {
    padding: 6px;
}
.p-2 {
    padding: 12px;
}
.p-3 {
    padding: 16px;
}
.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}
.px-2 {
    padding-left: 12px;
    padding-right: 12px;
}
.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}
.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-2 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-3 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.pt-1 {
    padding-top: 8px;
}
.pt-2 {
    padding-top: 12px;
}
.pt-3 {
    padding-top: 16px;
}
.pl-1 {
    padding-left: 8px;
}
.pl-2 {
    padding-left: 12px;
}
.pl-3 {
    padding-left: 16px;
}
.pb-1 {
    padding-bottom: 8px;
}
.pb-2 {
    padding-bottom: 12px;
}
.pb-3 {
    padding-bottom: 16px;
}
.pr-1 {
    padding-right: 8px;
}
.pr-2 {
    padding-right: 12px;
}
.pr-3 {
    padding-right: 16px;
}

.pt-auto {
    padding-top: auto;
}
.pr-auto {
    padding-right: auto;
}
.pb-auto {
    padding-bottom: auto;
}
.pl-auto {
    padding-left: auto;
}

.w-100 {
    width: 100%;
}